@use "../abstracts/variables" as vars;

.button-1 {
    position: relative;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding-block: 0.5rem;
    padding-inline: 1.25rem;
    background-color: vars.$primary;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #ffff;
    gap: 10px;
    font-weight: bold;
    border: 3px solid #ffffff4d;
    outline: none;
    overflow: hidden;
    font-size: 15px;
}



.button-1:hover {
    transform: scale(1.05);
    border-color: #fff9;
}

.button-1:hover .icon {
    transform: translate(4px);
}

.button-1:hover::before {
    animation: shine 1.5s ease-out infinite;
}

.button-1::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(120deg,
            rgba(255, 255, 255, 0) 30%,
            rgba(255, 255, 255, 0.8),
            rgba(255, 255, 255, 0) 70%);
    top: 0;
    left: -100px;
    opacity: 0.6;
}

@keyframes shine {
    0% {
        left: -100px;
    }

    60% {
        left: 100%;
    }

    to {
        left: 100%;
    }
}

.btn-enroll{
  border-radius: 20px; 
  background: linear-gradient(to right, #8b5cf6, #22d3ee); 
  padding: 0.5rem 1.5rem; 
  font-size: 0.875rem;
  font-weight: 600;
  box-shadow: 0 10px 15px -3px rgba(139, 92, 246, 0.3); 
  transition: transform 0.2s ease, box-shadow 0.2s ease;
color: #fff;
  &:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px -5px rgba(34, 211, 238, 0.4); 
  }
}