@use "../abstracts/variables" as vars;


a {
    text-decoration: none;
}

body {
    background: radial-gradient(circle at top, #1e293b 0%, #020617 55%, #020617);
    background-repeat: no-repeat;
    margin: 0;
}



cursor {}


.box-content-field {

    h3 {
        font-size: 21px;
        color: vars.$primary-dark;
    }

    p {}
}


.text-linear-gradient {
    font-size: clamp(2.8rem, 4vw, 3.6rem);
    line-height: 1.1;
    margin-bottom: 1rem;
     span {
    background: linear-gradient(to right, vars.$primary, #0ea5e9);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 800;
}
}

